.title {
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}

.search-form {
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}

.item-list {
}
.item-list .the-item {
    border-bottom: 1px solid grey;
}
.item-list .the-item .item-thumbnail {
    display: inline-block;
    float: left;
    width: 30%
}
.item-list .the-item .item-thumbnail img {
    width: 100%;
}
.item-list .the-item .item-title {
    display: inline-block;
    float: left;
    width: 50%;
}
.item-list .the-item .item-price {
    display: inline-block;
    float: left;
    width: 20%;
}